version: "3.9"
services:
  server-connect:
    build:
      context: .
      dockerfile: Dockerfile.crosstest
      args:
        TEST_LATEST_COMMIT: "${TEST_LATEST_COMMIT}"
    entrypoint: /usr/local/bin/serverconnect --h1port "8080" --h2port "8081" --h3port "8082" --cert "cert/server-connect.crt" --key "cert/server-connect.key"
    ports:
      - "8080:8080"
      - "8081:8081"
      - "8082:8082"
  server-grpc:
    build:
      context: .
      dockerfile: Dockerfile.crosstest
      args:
        TEST_LATEST_COMMIT: "${TEST_LATEST_COMMIT}"
    entrypoint: /usr/local/bin/servergrpc --port "8083" --cert "cert/server-grpc.crt" --key "cert/server-grpc.key"
    ports:
      - "8083:8083"
  envoy:
    image: envoyproxy/envoy:v1.20-latest
    ports:
      - "9091:9091"
      - "9092:9092"
    volumes:
      - ./envoy.yaml:/etc/envoy/envoy.yaml:ro
      - ./cert:/cert/:ro
  client-connect-to-server-connect-h2:
    build:
      context: .
      dockerfile: Dockerfile.crosstest
      args:
        TEST_LATEST_COMMIT: "${TEST_LATEST_COMMIT}"
    entrypoint: /usr/local/bin/client --host="server-connect" --port="8081" --implementation="connect-h2" --cert "cert/client.crt" --key "cert/client.key"
    depends_on:
      - server-connect
  client-connect-to-server-connect-h3:
    build:
      context: .
      dockerfile: Dockerfile.crosstest
      args:
        TEST_LATEST_COMMIT: "${TEST_LATEST_COMMIT}"
    entrypoint: /usr/local/bin/client --host="server-connect" --port="8082" --implementation="connect-h3" --cert "cert/client.crt" --key "cert/client.key"
    depends_on:
      - server-connect
  client-connect-to-server-grpc:
    build:
      context: .
      dockerfile: Dockerfile.crosstest
      args:
        TEST_LATEST_COMMIT: "${TEST_LATEST_COMMIT}"
    entrypoint: /usr/local/bin/client --host="server-grpc" --port="8083" --implementation="connect-h2" --cert "cert/client.crt" --key "cert/client.key"
    depends_on:
      - server-grpc
  client-grpc-to-server-connect:
    build:
      context: .
      dockerfile: Dockerfile.crosstest
      args:
        TEST_LATEST_COMMIT: "${TEST_LATEST_COMMIT}"
    entrypoint: /usr/local/bin/client --host="server-connect" --port="8081" --implementation="grpc-go" --cert "cert/client.crt" --key "cert/client.key"
    depends_on:
      - server-connect
  client-grpc-to-server-grpc:
    build:
      context: .
      dockerfile: Dockerfile.crosstest
      args:
        TEST_LATEST_COMMIT: "${TEST_LATEST_COMMIT}"
    entrypoint: /usr/local/bin/client --host="server-grpc" --port="8083" --implementation="grpc-go" --cert "cert/client.crt" --key "cert/client.key"
    depends_on:
      - server-grpc
  client-grpc-web-to-server-connect-h1:
    build:
      context: .
      dockerfile: Dockerfile.crosstestweb
      args:
        TEST_LATEST_COMMIT: "${TEST_LATEST_COMMIT}"
        # TODO: Remove when connect-web is public.
        NPM_TOKEN: "${NPM_TOKEN}"
    entrypoint: npm run test -- --docker --host="server-connect" --port="8080" --implementation="grpc-web"
    depends_on:
      - server-connect
  client-grpc-web-to-envoy-server-connect:
    build:
      context: .
      dockerfile: Dockerfile.crosstestweb
      args:
        TEST_LATEST_COMMIT: "${TEST_LATEST_COMMIT}"
        # TODO: Remove when connect-web is public.
        NPM_TOKEN: "${NPM_TOKEN}"
    entrypoint: npm run test -- --docker --host="envoy" --port="9091" --implementation="grpc-web"
    depends_on:
      - server-connect
      - envoy
  client-grpc-web-to-envoy-server-grpc:
    build:
      context: .
      dockerfile: Dockerfile.crosstestweb
      args:
        TEST_LATEST_COMMIT: "${TEST_LATEST_COMMIT}"
        # TODO: Remove when connect-web is public.
        NPM_TOKEN: "${NPM_TOKEN}"
    entrypoint: npm run test -- --docker --host="envoy" --port="9092" --implementation="grpc-web"
    depends_on:
      - server-grpc
      - envoy
  client-connect-web-to-server-connect-h1:
    build:
      context: .
      dockerfile: Dockerfile.crosstestweb
      args:
        TEST_LATEST_COMMIT: "${TEST_LATEST_COMMIT}"
        # TODO: Remove when connect-web is public.
        NPM_TOKEN: "${NPM_TOKEN}"
    entrypoint: npm run test -- --docker --host="server-connect" --port="8080" --implementation="connect-web"
    depends_on:
      - server-connect
  client-connect-web-to-envoy-server-connect:
    build:
      context: .
      dockerfile: Dockerfile.crosstestweb
      args:
        TEST_LATEST_COMMIT: "${TEST_LATEST_COMMIT}"
        # TODO: Remove when connect-web is public.
        NPM_TOKEN: "${NPM_TOKEN}"
    entrypoint: npm run test -- --docker --host="envoy" --port="9091" --implementation="connect-web"
    depends_on:
      - server-connect
      - envoy
  client-connect-web-to-envoy-server-grpc:
    build:
      context: .
      dockerfile: Dockerfile.crosstestweb
      args:
        TEST_LATEST_COMMIT: "${TEST_LATEST_COMMIT}"
        # TODO: Remove when connect-web is public.
        NPM_TOKEN: "${NPM_TOKEN}"
    entrypoint: npm run test -- --docker --host="envoy" --port="9092" --implementation="connect-web"
    depends_on:
      - server-grpc
      - envoy
