name: release
on:
  release:
    types: [published]
permissions:
  # need write permission to create/edit release and attach artifacts
  contents: write
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6
        with:
          fetch-depth: 1
      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.25.x
      - name: Release
        env:
          GITHUB_TOKEN: ${{ github.TOKEN }}
        run: make release
